<html>
<body>
<div>
    <div>Здравствуй, Гость!</div>
    <br><br>
    <div>
        Добро пожаловать на начальную страницу моего проекта!
        <br><br>
        Целью данного проекта является, показать Вам полный стек изученных и используемых мной технологий.
        <br><br><br><br>
        Создано на скорую руку, разработка продолжается...
        <br><br>
        <!--Пройдите, пожалуйста по ссылке:
        <a href="https://arutyun-web.herokuapp.com/greeting">GREETING</a>-->
    </div>
</div>
</body>
</html>